<section class="feedback placeholder">
  <div class="page-header">
    <h1>How it works</h1>
  </div>

  <h3>Step one</h3>
  <p>Start by adding your wedding details, you can come back to this later and 
  make adjustments so no need to get it right straight away.</p>
  
  <p>All the information in the 'Wedding Details' section is used to provide a 
  personalised microsite that your guests interact with when they accept an 
  invitation to your wedding.</p>

  <h3>Step two</h3>
  <p>Invite the bride or the groom to collaborate with you on the guest list 
  and the wedding details.</p>

  <h3>Step three</h3>
  <p> Deciding who you want to send an invitations will be one of the most challenging
  tasks of your wedding, this is why Wedvite provides a work flow to help you through it.
  When you first add a guest they will be marked 'review', this means they will then 
  need to be 'approved' by hovering over the guest and clicking on 'status' and 
  changing the guest to 'approved', you can also reject guests that you or you 
  your partner has put on.</p>

  <h3>Step four</h3>
  <p>Choose you stationary and craft your wording.</p>

  <h3>Step five</h3>
  <p>Invite your guests. You will be shown a list of guest that will get sent a 
  special email unique to them with a secret link to their personalised invitation.
  When they click through they will shown the invitation where they can accept or 
  decline, if they accept their status will change and you will see in your guest
  list that they have accepted.
  
  <p>After guests accept they will also get shown your wedding microsite with 
  all the details you added in the 'Wedding Details' section.</p>
  
  <p>Guest can also leave you messages in a message board on your microsite 
  that will turn up in your timeline, you can also respond to them for all your 
  quests to see.</p>

  <p>Guest can also see who else is coming to the wedding in your microsite, this 
  is great for organising accommodation and transport.</p>

  <h3>Thank guests</h3>
  <p>After your wedding day has passed the 'Invite Guests' section will change 
  to 'Thank Guests', you can then send everyone a thank you email.  The text of 
  the thank you email is in the 'Wedding Details' section under 'Thank You'.</p>

  <h3>Optional step</h3>
  <p>Add a gift registry. Guests will be able to claim these if they accept your 
  invitation in your wedding microsite so you won't get the same gift twice.</p>

</section>
