<h2>Styling text</h2>
<p>The <code>#</code> before a sentence means "make this a large
heading" and <code>##</code> means "make this a not so large heading"
and <code>###</code>, well you get the picture.</p>

<p>They will look different depending on what invitation you choose. So
don't be shy and have a play!</p>

<h2>Dynamic text</h2>

<p>The double squigly lines around <code>{{ guest.name }}</code> means
your are putting in some dynamic content. In this case it's the name of
the guest. You need this for the guests name otherwise the invitation will not
be personalised.

<h2>Extra bits</h2>

If you would like to put in a horizontal line use three stars <code>* *
*</code>, some invitations have special styling for this.
