<section class="help placeholder">
  <h1>WedVite Legal</h1>
  <p>By using the WedVite platform you are agreeing to the following
legal conditions. Please read this Agreement carefully.</p>

  <section>
    <h3>Appearance of <br/> invitations</h3>
    <p>Invitations on WedVite are dynamic content not images. This is
done to ensure the invitation is of highest quality appearance on any
device and web browser. Therefore WedVite cannot guarantee the
invitation will appear the same for the guest as for the user of the
WedVite platform.</p>
  </section>
  <section>
    <h3>Delivery of <br/> invitations</h3>
    <p>WedVite cannot guarantee the delivery of an invitation to a
guest. WedVite's emails may be subject to spam filters for whatever
reason. If however the number of invitations delivered is seen as
unacceptable WedVite may refund you purchase amount at WedVite's
discretion, see Refunds.
  </section>
  <section>
    <h3>Refunds</h3>
    <p>A refund can be issued at any time as long as no invitations have
been sent to any of the wedding guests. The refund amount will be the
original minus any transaction fees.</p>
    <p>If you feel you have had an unacceptable or poor experience,
WedVite will refund the full amount including any transaction fees at
WedVite's discretion.
  </section>
  <section>
    <h3>Liabilty</h3>
    <p>WedVite takes no responsibility from loss of income or unforeseen
costs arising from the use of the WedVite platform.</p>
  </section>
</section>
