<div class="span4">
  <blockquote>
    <p># This is Heading 1.</p>
    <p>## This is Heading 2.</p>
    <p>###### This is Heading 6.</p>
  </blockquote>
  <blockquote>
    <p>* borrowed</p>
    <p>* new</p>
    <p>* blue</p>
  </blockquote>
  <blockquote>
    <p>1. Bird</p>
    <p>2. McHale</p>
    <p>3. Parisha</p>
  </blockquote>
  <blockquote>
    <p>__Bird__</p>
    <p>_Italic_</p>
  </blockquote>
  <code>
    <%= "![Alt text](http://facebook.com/myuser/myphoto.jpg \"Us\")" %>
  </code>
  <p><strong>links:</strong></p>
  <p>Simply surround the URL or email address with angle brackets</p>
  <code>
    <%= "<http://example.com/>" %>
  </code>
</div>
