<section class="help placeholder">
  <h1>WedVite Privacy Policy</h1>
  <p>WedVite respects your privacy and works hard to protect your
personal information. We want you to understand how we may collect,
store, use and protect any personal information. We will not share your
information with anyone except as described in this Privacy Policy.</p>

<section>
  <h3>Information We <br>Collect</h3>
  <p>When you register for or use a WedVite account, we collect the
following information:</p>
  <ul>
    <li>When you register: we collect your name and email address.</li>
    <li>When you make a transaction with WedVite through PayPal we keep
a record of the PayPal transaction id.</li>
  </ul>
</section>

<section>
  <h3>We use technology <br>to help us collect information</h3>
  <h4>Cookies</h4>
  <p>It is important for us to track how our website is used, and we (or
our service providers) may place “cookies” on your computer or device.
Cookies are small data files that identify you when you use our
services. You have the option to decline our cookies by using your
browsers settings tools, but this may interfere with your use of our
website and services.</p>
  <h4>Log File Information</h4>
  <p>Log file information is automatically reported by your browser each
time you access a web page. When you register with or view our site, our
servers automatically record certain information that your web browser
sends whenever you visit any website. These server logs may include
information such as your web request, Internet Protocol (“IP”) address,
browser type, referring / exit pages and URLs, number of clicks, domain
names, landing pages, pages viewed, and other such information.</p>
</section>

<section>
  <h3>Protecting Personal information</h3>
  <p>Any information that can be used to identify a person is “Personal
Information”. This does not include information that has been aggregated
or made anonymous. All information is securely stored on our servers in
the United States.</p>
  <h3>Using Personal Information</h3>
  <p>We will only use personal information for high level statistics
such as wedding locations and number of guests per wedding.</p>
</section>

<section>
  <h3>Sharing Personal information</h3>
  <p>WedVite will not rent or sell your Personal Information to others.
</section>

<section>
  <h3>Compromise of <br>Personal Information</h3>
  <p>In the event that personal information is compromised as a result
of a breach of security, WedVite will promptly notify those persons whose
personal information has been compromised</p>
</section>

<section>
  <h3>Your Choices About <br>Your Information</h3>
  <p>You may, of course, decline to submit personally identifiable
information through the Service, in which case WedVite may not be able to
provide certain services to you. You may update or correct your account
information at any time by logging in to your account.  You can review
and correct the information about you that WedVite keeps on file by
contacting us as described below.</p>
</section>

<section>
  <h3>Changes to Our <br>Privacy Policy</h3>
  <p>If we change our privacy policies and procedures, we will post
those changes on our website to keep you aware of what information we
collect, how we use it and under what circumstances we may disclose it.
Changes to this Privacy Policy are effective when they are posted on
this page.</p>
</section>

</section>
