<section class="help title">
<div class="page-header">
  <h1>Wording</h1>
</div>

<p>Now that you’ve chosen an invitation design that complements the theme and tone of your wedding, you need to 
decide what to say. invitations can be as formal or informal as you like. There are strict guidelines for formal invitations, 
and rules of etiquette dictate the wording and order of names. informal invitations provide you with much more 
flexibility, leaving you free to say practically whatever you like.</p>


<h3>The bare necessities</h3>
<p><strong>Whatever else you say when writing your invitations, 
you must include the following information:</strong></p>
<ul>
  <li>names of the bride’s parents and/or other hosts, such 
  as the groom’s parents</li>
  <li>first name of the bride and groom 
  (surnames are optional)</li>
  <li>time, date and place of the wedding ceremony 
  (including day, month and year)</li>
  <li>time and place of the wedding reception</li>
  <li>contact details and date for guests to rSVP</li>
</ul>

<h3>Who’s host?</h3>
<p><strong>The invitation should be from whoever is hosting the 
wedding – the more people hosting the occasion, the 
more names there will be!
For example:</strong> in the event of both sets of parents being 
divorced and remarried, and making a financial contribution 
to the wedding, traditionally the hosts’ names would appear 
in the following order on the invitation:</p>
<p><i>Bride’s mother and her husband</i></p>
<p><i>Bride’s father and his wife</i></p>
<p><i>Groom’s mother and her husband</i></p>
<p><i>Groom’s father and his wife</i></p>
<p><i>request the honour of your presence</i></p>
<p><i>at the marriage of … </i></p>
<p>rSVPs should be to the host’s address but in the event of 
there being more than one host, the person whose name first 
appears on the invitation should provide the return address. 
it is best to include the name, address, phone number and, 
these days, email address after the rSVP Don’t forget to 
include a date by which all replies must be received. a
comprehensive list of hosts and the corresponding invitation 
wording appears at the end of this section</p>

<h3>Certain formalities</h3>
<p><strong>If you’re hosting a formal wedding, here are a few 
things to keep in mind:</strong></p>
<ul>
  <li>invitations should be written in the third person.</li>
  <li>Titles must be used where appropriate, although 
  traditionally the bride forgoes both title and surname 
  as her marital status is evident by the fact that she is 
  getting married and her surname is that of her parents. 
  if her surname is different then it can be included.</li>
  <li>Dates and times should be spelt out, e.g. the eighth 
  of January, at four o’clock.</li>
  <li>if it’s a church ceremony, the words ‘the honour of 
  your presence’ are used.</li>
  <li>a non-religious ceremony tends to use the words, ‘the 
  pleasure of your company’.</li>
  <li>The bride’s name should appear before the groom's.</li>
  <li>The time and date should be written first, followed 
  by the venue.</li>
  <li>in general, names, places and times are written 
  on separate lines, but you may break other lines 
  wherever you wish.</li>
  <li>Traditionally, the guests’ names are handwritten in 
  the top, left-hand corner of the invitation or in the 
  space provided by the wording.</li>
</ul>


<p><strong>Wording can be adapted to accommodate death, divorce 
and re-marriage of the parents. For example:</strong></p>
<p>Divorced parents: <i>Mr. Richard Kirke and Mrs. Elizabeth 
Kirke, request the pleasure... (Instead of Mr. & Mrs. Richard Kirke, 
which traditionally denotes a married couple.)</i></p>
<p>Divorced parents, mother remarried: <i>Mr. Richard Kirke and 
Mrs. Elizabeth Partridge, request the pleasure...</i></p>
<p>Widowed parent: <i>Mr. Richard Kirke/Mrs. Elizabeth 
Kirke, requests the pleasure...</i></p>
<p>or, if you wish to mention the late parent, the following 
formula may be used: <i>Jessica Sophie Kirke, daughter of 
Mr. Richard Kirke and the late Elizabeth Kirke, request 
the pleasure..</i></p>


<h3>Informal wedding</h3>
<h3>Extra information</h3>
<h3>Ceremony only</h3>
<h3>Hosts and the wording</h3>
</section>
