<div class="row">
  <div class="span2 author">
    <h2>by <%= post.author.name %></h2>
  </div>
  <div class="span6">
    <header>
      <p><strong><%= l post.published_at, format: :simple %></strong></p>
      <hr/>
      <h1><%= post.title %></h1>
    </header>
    <article>
      <%= raw markdown.render post.body %>
    </article>
  </div>
</div>
