<% unless guest.comments.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Made by</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% guest.comments.each do |comment| %>
        <tr>
          <td>
            <%= comment.user.name %>
          </td>
          <td>
            <%= comment.text %>
            <% if current_user == comment.user %>
              <%= link_to 'edit', edit_wedding_guest_comment_path(@wedding, guest, comment) %>
            <% end %>
          </td>
      <% end %>
    </tbody>
  </table>
<% end %>
