<div class="col-xs-12">
  <% GuestState.each do |state| %>
    <% next if @guest_list.currently(state).empty? %>
    <% [1,2].each do |partner_number| %>
      <% @guest_list.currently(state).partner(partner_number).each do |guest| %>
        <p><%= guest.name %>
      <% end %>
    <% end %>
  <% end %>
</div>
