<%= form_tag guest_message_path do %>
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <%= text_area_tag 'message', nil %>
      </div>
    </div>
    <p class="help-block">Please note that everyone that has been invited to the
wedding will be able to read this message.</p>
    <div class="form-actions">
      <button type="submit" class="btn">Message</button>
      <%= link_to "Skip", guesthome_path, class: "btn" %>
    </div>
  </fieldset>
<% end %>
