// Core variables and mixins
@import "bootstrap";

// WedVite colors
@import "colors";

// WedVite global elements, images etc.
@import "global";

// WedVite global fonts.
@import "fonts";

// Off canvas side scroll fix
body {
  overflow-x: hidden;
}

a {
  color: blue;  
}

textarea {
  height: 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
