@import "bootstrap";
@import "bootstrap/responsive-utilities";

// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "bootstrap/responsive-767px-max";

// Tablets to regular desktops
@import "bootstrap/responsive-768px-979px";

// Large desktops
@import "bootstrap/responsive-1200px-min";

body {
  background-image: image-url("bg-cloth.png");
}

body, p {
  font-family: "Gill Sans","Gill Sans MT", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

p {
  line-height: 30px;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

li {
  line-height: 30px;
}

strong {
  font-weight: 500;
}

a {
  color: blue;  
}

textarea {
  height: 100px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tab-content {
  padding: 10px;
  background-color: $white; 
  border-left-color: #DDD;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-color: #DDD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav {
  margin-bottom: 0px;
}

.map-wrapper {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

// Landscape phones and down
@media (max-width: 480px) {
  body {
    color: #000000;
    padding: 0px;
  }

  .map-wrapper {
    width: 100%;
    height: 100px;
  }

  .nav-tabs {
    background-color: #000000;
    & > li > a {
      color: #FFFFFF;
      @include border-radius(0px);
    }
  }
  .dropdown-menu a {
    padding: 10px 15px;
  }
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {

}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}


// Large desktop
@media (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
}
