@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";
@import "fonts";

body {
  background-image: image-url("bg-cloth.png");
}

a {
  color: blue;  
}

.container {
}

.tab-content {
  padding: 10px;
  background-color: @white; 
  border-left-color: #DDD;
  border-left-style: solid;
  border-left-width: 1px;
  border-bottom-color: #DDD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav {
  margin-bottom: 0px;
}

.map-wrapper {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

// Landscape phones and down
@media (max-width: 480px) {
  body {
    color: #000000;
    padding: 0px;
  }

  .map-wrapper {
    width: 100%;
    height: 100px;
  }

  .nav-tabs {
    background-color: #000000;
    & > li > a {
      color: #FFFFFF;
      .border-radius(0px);
    }
  }
  .dropdown-menu a {
    padding: 10px 15px;
  }
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {

}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}


// Large desktop
@media (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
}
