<% unless guest.comments.empty? %>
  <% guest.comments.each do |comment| %>
    <div class="comment">
      <div class="title">
        <% if comment.user.nil? %>
          <%= guest.who %>
        <% else %>
          <%= comment.user.name %> <% if current_user == comment.user %> | <%= link_to 'edit', edit_wedding_guest_comment_path(@wedding, guest, comment) %> <% end %>
        <% end %>
      </div>
      <div class="text">
        <%= comment.text %>
      </div>
    </div>
  <% end %>
<% end %>
