<section class="weddings wording">
  <div class="page-header">
    <h1>The &quot;how&quot; of the Ceremony</h1>
  </div>
  <div class="row">
    <div class="span3">
      <p>All you need to get started is a name for you weeding, you can leave the rest until later. Don't worry your guests don't see this name, they see the wording.</p>
      <p>If you need help with the wording we have you covered: <%= link_to "invitation wording help.", help_page_path(:wording), target: '_blank' %></p>
      <p>If you want to add things like lists and headings read this: <%= link_to "markup help.", help_page_path(:markup), target: '_blank' %></p>
    </div>
    <div class="span9">
      <%= render partial: 'wording', locals: { attribute: :ceremony_how } %>
    </div>
  </div>
</section>
