<section class="details">
  <div class="row">
    <ul class="nav nav-wedvite">
      <li><a href="#ourday">Our Day</a></li>
      <li><a href="#date_and_times">Dates & Times</a></li>
      <li><a href="#directions">Directions</a></li>
    </ul>
    <div class="span9">
      <div class="slide-deck">
        <div class="slide" data-position="1" data-transition="horizontal" id="ourday">
          <%= render partial: 'users/weddings/details/ourday' %>
        </div>
        <div class="slide" data-position="2" data-transition="horizontal" id="date_and_times">
          <%= render partial: 'users/weddings/details/date_and_times' %>
        </div>
        <div class="slide" data-position="3" data-transition="horizontal" id="directions">
          <%= render partial: 'users/weddings/details/ourday' %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
(function() {

    var $container = $('.slide-deck')
    var $sections  = $container.find('.slide')

    $sections.slideDeck({
        speed: 500,
        easing: $.support.transition ? 'ease' : 'swing'
    })

    $sections.on('incomming', function(event, elem) {
        $container.css('height', $(this).height())
    })

    $('.nav-wedvite a').on('click', function(event) {
        event.preventDefault()
        var id = this.hash.replace(/#/, '')
        $sections.change(id)
        return false
    })
})();
</script>
