<section class="details">
  <div class="row">
    <ul class="nav nav-wedvite">
      <li><a href="#">Our Day</a></li>
      <li><a href="#">Collaborators</a></li>
      <li><a href="#">Directions</a></li>
      <li><a href="#">Dates & Times</a></li>
    </ul>
    <div class="span9">
      <div class="slide-deck">
        <div class="slide">
          <%= render partial: 'users/weddings/details/date_and_times' %>
        </div>
      </div>
    </div>
  </div>
</section>
