<section class="guestlist">
  <div class="row">
    <div class="span2">
      <%= render partial: 'users/weddings/guestlist/quickie' %>
    </div>
    <div class="span10">
      <%= render partial: 'users/weddings/guestlist/list' %>
    </div>
  </div>
</section>

<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script>
$(function(){
    
    var $modal = $('#modal-from-dom')

    $('a.modal-me').on('click', function(event) {
        event.preventDefault()
        $.get(this.href, function(data) {
            $modal.html(data).modal('show')
        })
    })

    $('*[rel=popover]').popover({placement: 'right'})

    $quickie = $('.quickie')
    $quickie.find("*[rel=tooltip]").tooltip({delay: { show: 1000, hide: 100 }})

    $quickie.find('.toggle').on('click', function(event) {
      event.preventDefault()
      $(this).toggleClass('icon-white')
      var id = $(this).data('id')
      $("#" + id).toggle()
    })

    $quickie.find('.goto').on('click', function(event) {
      event.preventDefault()
      var id = $(this).data('id')
      $('html, body').animate({scrollTop: ($("#" + id).offset().top - 50)}, 500)
    })

});
</script>
