<section class="guestlist">
  <div class="row">
    <div class="span2">
      <%= render partial: 'users/weddings/guestlist/quickie' %>
    </div>
    <div class="span10">
      <%= render partial: 'users/weddings/guestlist/list' %>
    </div>
  </div>
</section>

<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script>
$(function(){
    
    var $modal = $('#modal-from-dom')

    $('a.modal-me').on('click', function(event) {
        event.preventDefault()
        $.get(this.href, function(data) {
            $modal.html(data).modal('show')
        })
    })

    $('*[rel=popover]').popover({placement: 'right'})

    $quickie = $('.quickie')
    $quickie.find("*[rel=tooltip]").tooltip({delay: { show: 1000, hide: 100 }})

    $quickie.find('.toggle').on('click', function(event) {
      event.preventDefault()
      $(this).toggleClass('icon-eye').toggleClass('icon-eye-close')
      var id = $(this).data('id')
      $("#" + id).toggle()
    })

    $quickie.find('.goto').on('click', function(event) {
      event.preventDefault()
      var id = $(this).data('id')
      $('html, body').animate({scrollTop: ($("#" + id).offset().top - 50)}, 500)
    })

    function getScrollTop(){
        if(typeof pageYOffset!= 'undefined'){
            //most browsers
            return pageYOffset;
        }
        else{
            var B= document.body; //IE 'quirks'
            var D= document.documentElement; //IE with doctype
            D= (D.clientHeight)? D: B;
            return D.scrollTop;
        }
    }

    var $topButton = $('.goto-top')
    var $wrapper = $('.quickie .wrapper')

    $topButton.hide()
    $wrapper.css('position', 'absolute')

    $(window).on('scroll', function(){
        if (getScrollTop() > 185) {
            $topButton.show()
            $wrapper.css({position: 'fixed', top: 30})
        } else {
            $topButton.hide()
            $wrapper.css({position: 'absolute', top: 0})
        }
    })

    var $guests = $('.guests .guest')
    $guests.on('click', function(event) {
        $guests.removeClass('active')
        $(this).addClass('active')
    })
});
</script>
