<section class="weddings wording">
  <div class="page-header">
    <h1>Wedding Plan Payment $<%= Wedding::PRICE %></h1>
  </div>
  <div class="row">
    <div class="span4">
      <p>To contine managing <%= @wedding.name %> please pay USD <%= Wedding::PRICE %> with PayPal.</p>
      <p><strong>What you get:</strong></p>
      <ul>
        <li>Manage unlimited guests</li>
        <li>Take as long as you want - your usage never expires</li>
        <li>Send unlimited invitations</li>
        <li>Unlimited collaborators</li>
        <li>Support answered within 24 hours</li>
      </ul>
      <p><strong>What you do not get:</strong></p>
      <ul>
        <li>Stationary - this must be purchased seperately</li>
      </ul>
    </div>
    <div class="span8">
      <%= render partial: 'users/shared/paypal',
        locals: {
          description: "Wedvite Wedding Plan Payment",
          amount: Wedding::PRICE,
          return_url: wedding_payment_success_url(@wedding),
          cancel_url: wedding_payment_failure_url(@wedding)
        }
      %>
    </div>
  </div>
</section>
