<section class="weddings wording">
  <div class="row">
    <div class="span4">
      <p>All you need to get started is a name for you weeding, you can leave the rest until later. Don't worry your guests don't see this name, they see the wording.</p>
      <p>If you need help with the wording we have you covered: <%= link_to "invitation wording help.", help_page_path(:wording), target: '_blank' %></p>
    </div>
    <div class="span12">
      <%= render partial: 'wording', locals: { attribute: :save_the_date_wording } %>
    </div>
  </div>
</section>
