<section class="wedding show">
  <div class="page-header" id="top">
    <h1><%= @wedding.name %></h1>
  </div>
  <div class="row">
    <div class="span3">
      <%= render partial: 'nav' %>
    </div>
    <div class="span8">
      <%= render partial: 'list' %>
    </div>
    <div class="span1 no-margin">
      <%= render partial: 'quickie' %>
    </div>
  </div>
</section>

<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
<script>
  $(function(){
    weddings();
  });
</script>
