<section class="wedding show">
  <div class="page-header">
    <h1><%= @wedding.name %></h1>
  </div>
  <div class="row">
    <div class="span4 background">
      <%= render partial: 'nav' %>
    </div>
    <div class="span12 background">
      <%= render partial: 'list' %>
    </div>
  </div>
</section>

<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Modal Heading</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag 'users/weddings/show' %>
<% end %>
