<section class="timeline">
  <% @events.each do |event| %>
    <div class="well <%= event.to_css %>">
      <p><%= event.headline %></p>
      <% unless event.quotation.nil? %>
        <blockquote>
          <span class="bqstart">&#8220;</span><%= event.quotation %><span class="bqend">&#8221;</span>
        </blockquote>
      <% end %>
      <p><strong><%= time_ago_in_words event.created_at %> ago</strong></p>
    </div>
  <% end %>
</section>
