<form>
  <textarea class="markdown"><%= @wedding.stationery.example_wording %></textarea>
  <p>This is the example wording for your current selected stationery (<%= @wedding.stationery.name %>)</p>
</form>
