<div class="page-header">
  <h1>My Weddings</h1>
</div>
<div class="row">
  <div class="span4 placeholder">
    <h3>More than one wedding?</h3>
    <p>
      After you create a wedding you can invite others to collaborate.
      You can also be invited to collaborate on a friends wedding list.
    </p>
    <p>
      Don't worry you can set what collaborators can and can't do
    </p>
    <%= form_for @wedding do |f| %>
      <div class="input-append">
        <%= f.text_field :name, class: "span3", placeholder: "Name of new wedding" %><button type="submit" class="btn"><i class="icon-plus-sign"></i> Create</button>
      </div>
    <% end %>
  </div>
  <div class="span7 placeholder">
    <ul>
      <% current_user.weddings.each do |wedding| %>
        <li><%= link_to wedding.name, (wedding.invite_process_started? ? wedding_timeline_path(wedding) : wedding_guestlist_path(wedding)) %></li>
      <% end %>
    <ul>
  </div>
</div>
