<% if current_user.weddings.empty? %>
  <h1>Welcome <%= current_user.name %></h1>
  <%= link_to 'Start a new wedding invitation plan', new_wedding_path %>
<% else %>
  <ul>
    <% current_user.weddings.each do |wedding| %>
      <li><%= link_to wedding.name, wedding_path(wedding) %></li>
    <% end %>
  </ul>
  <%= link_to 'Start a new wedding invitation plan', new_wedding_path %>
<% end %>
