<section class="wedding reception location">
  <div class="page-header">
    <h1>Reception location</h1>
  </div>
  <div class="row">
    <div class="span3">
      <p>This is the location that your guests can use to add to their calendars or open on their phones when travelling to the reception.</p>
    </div>
    <div class="span9">
      <%= render partial: 'form', locals: { url: reception_wedding_locations_path(@wedding) } %>
    <div>
  <div>
</section>
