<!DOCTYPE html>
<html>
  <head>
    <title>WeddingInvitor</title>
    <%= stylesheet_link_tag    "site/application" %>
    <%= javascript_include_tag "site/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
