<div class="page-header">
  <h1>Leave a new message</h1>
</div>

<%= form_tag guest_message_path do %>
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <%= text_area_tag 'message', nil %>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn">Message</button>
    </div>
  </fieldset>
<% end %>

<% @messages.each do |message| %>
  <div class="well">
    <p><%= message.messageable.name %></p>
    <blockquote>
      <%= message.text %>
    </blockquote>
  </div>
<% end %>
