<div class="row">
  <div class="span12">
    <%= link_to "+ Add collaborator", new_wedding_collaborator_path(@wedding), class: 'btn' %>
    <%= link_to "back", wedding_path(@wedding) %>
  </div>
</div>
