<% if alert %>
  <div class="alert alert-error">
    <a class="close" href="#">×</a>
    <p><%= raw alert %></p>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-info">
    <a class="close" href="#">×</a>
    <p><%= raw notice %></p>
  </div>
<% end %>
<script>
(function() {
    var $alert = $('.alert')

    var remove = function() {
        $alert.fadeOut('slow', function() {
            $(this).remove()
        })
    }

    var to = setTimeout(remove, 5000)

    $alert.find('.close').on('click', function(){
        clearTimeout(to)
        remove()
    })
})()
</script>
