<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Wed Vite</a>
      <ul class="nav">
        <li><%= link_to "My Weddings", root_path %></li>
        <li><%= link_to "Sationary Shop", stationary_index_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </div>
  </div>
</div>
