<div id="reception_location_map" class="location-map"></div>
<hr/>
<p class="help-block">Start typing to find the location</p>
<%= text_field_tag "reception_location_search", nil, class: 'search', size: 30, type: :search %>

<%= render partial: 'users/weddings/details/location', locals: {
  location: @reception_where,
  how: :reception_how,
  as: :reception_location,
  url: reception_wedding_locations_path(@wedding)
} %>
