<section class="feedback placeholder">
  <div class="page-header">
    <h1>Feedback and Support</h1>
  </div>
  <p>Please leave us some feedback, brick bats and bouquets both welcome.</p>
  <p>If you want a style of stationery that we do not have, please paste in some links to what you would like and we can make a very similar one for you.</p>
  <p>We would love to hear from you even if it's just to say hi!</p>
  <%= form_tag feedback_path do %>
    <fieldset>
      <%= text_area_tag 'feedback', nil, class: 'input-xlarge', rows: 3, style: "height: 200px; width: 910px;" %>
      <div class="actions">
        <%= link_to 'Cancel', plan_root_path, class: 'btn' %>&nbsp;<%= submit_tag 'Send', class: 'btn' %>
      </div>
    </fieldset>
  <% end %>
</section>
