<h1>You have a problem with your content</h1>
<p>Most likely you are missing a { from your dynamic content. Make sure your dynamic content is surrounded by two brackets on each end like this:</p>
<p> {{ guest.name }} </p>
