<% if alert %>
  <div class="alert-message error">
    <a class="close" href="#">×</a>
    <p><%= alert %></p>
  </div>
<% end %>
<% if notice %>
  <div class="alert-message info">
    <a class="close" href="#">×</a>
    <p><%= notice %></p>
  </div>
<% end %>
