<section class="comments edit">
  <div class="page-header">
    <h1>Edit comment</h1>
  </div>
  <%= render partial: 'form', locals: { url: wedding_guest_comment_path(@wedding, @guest, @comment) } %>
</section>
