<div class="modal-body">
  <%= form_for @comment, url: wedding_guest_comments_path(@wedding, @guest) do |f| %>
    <fieldset>
      <div>
        <%= f.text_area :text, rows: 3 %>
      </div>
      <div>
        <%= f.submit 'Save', class: 'btn btn-small pull-right' %>
      </div>
    </fieldset>
  <% end %>
  <div class="comments">
    <% @comments.each do |comment| %>
      <%= render partial: 'users/comments/comment', locals: { :comment => comment } %>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
