<div class="modal-body">
  <%= form_for @comment, url: wedding_guest_comments_path(@wedding, @guest) do |f| %>
    <fieldset>
      <div>
        <%= f.text_area :text, rows: 3 %>
      </div>
      <div>
        <%= f.submit 'Comment', class: 'btn btn-small pull-right' %>
      </div>
    </fieldset>
  <% end %>
  <div class="comments">
    <% @comments.each do |comment| %>
      <%= render partial: 'users/comments/comment', locals: { :comment => comment } %>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
<script>
(function() {
    var $modal     = $('.modal-body'),
        $form      = $modal.find('form.new_comment'),
        $comments  = $modal.find('.comments')

    $form.on('submit', function(event) {
        var $textarea = $(this).find('textarea')
        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: { comment: $textarea.val() },
            success: function(data) {
                $comments.prepend(data)
                $textarea.val('')
            },
            dataType: 'html'
        })
    })
})();
</script>
