@baby_blue: rgb(234, 243, 248);
@blue: rgb(43, 97, 126);
@copper: rgb(162, 154, 151);

@light_gray: #AEAEAE;

@annabel_red: rgb(238,66,75);
@annabel_yellow: rgb(252,225,66);
@annabel_green: rgb(154,216,140);
@annabel_black: rgb(97,104,96);
@annabel_blue: rgb(53,189,223);
@annabel_teal: rgb(126,173,206);
@annabel_pale_blue: rgb(143,215,235);
@annabel_pink: rgb(215,34,88);

// @approved: @neon_watermelon;
// @rejected: @neon_strawberry;
// @accepted: @in_a_synth_pop_band;
// @declined: @black;
// @sent: @straw;
// @tentative: @milk_pail;
// @review: @powdered_silver;
@approved: @annabel_green;
@rejected: @annabel_red;
@accepted: @annabel_yellow;
@declined: @annabel_black;
@sent: @annabel_pink;
@tentative: @annabel_blue;
@review: @light_gray;

.white (@alpha: 80) {
  background-color: rgb(249, 253, 255);
  background-color: rgba(249, 253, 255, @alpha / 100);
}

