//http://www.colourlovers.com/palette/530/victorias_secret

@kalamata_olive: rgb(56, 47, 50);
.kalamata_olive (@alpha: 100) {
  background-color: rgb(56, 47, 50);
  background-color: rgba(56, 47, 50, @alpha / 100);
}

@magnolia_grandflora: rgb(255, 234, 242); 
.magnolia_grandflora (@alpha: 100) {
  background-color: rgb(255, 234, 242);
  background-color: rgba(255, 234, 242, @alpha / 100);
}

@carnation: rgb(252, 217, 229);
.carnation (@alpha: 100) {
  background-color: rgb(252, 217, 229);
  background-color: rgba(252, 217, 229, @alpha / 100);
}

@sugared_pansy_pink: rgb(251, 197, 216);
.sugared_pansy_pink (@alpha: 100) {
  background-color: rgb(251, 197, 216);
  background-color: rgba(251, 197, 216, @alpha / 100);
}

@cornucopia: rgb(241, 57, 109);
.cornucopia (@alpha: 100) {
  background-color: rgb(241, 57, 109);
  background-color: rgba(241, 57, 109, @alpha / 100);
}

@white: rgb(255, 255, 255);
.white (@alpha: 30) {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, @alpha / 100);
}
