@import "bootstrap";
@import "colors";

.nav-pills > li > a {
  color: $gray;
}

.nav-wedvite > li > a:hover,
.nav-pills > li > a:hover {
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: $blue;
}

.nav-pills > .active > a {
}

.nav-wedvite > .active > a,
.nav-wedvite > .active > a:hover,
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: $blue;
  color: $white;
}

.nav-wedvite {
  float: left;
  width: 220px;
  background-color: $baby_blue;
  @include border-radius(10px);
  overflow: hidden;
}

.nav-wedvite > li > a {
  padding: 10px;
}

.slide-deck {
  position: relative;
  overflow: hidden;
  .slide {
    position: absolute;
  }
}

.navbar {
  height: 72px;
  background-color: $baby_blue;
  &.navbar-fixed-top {
    position: relative;
    margin-bottom: 10px;
  }
  .birdies {
    width: 170px;
    height: 88px;
    display: block;
    float: left;
    margin-top: 5px;
  }
  .nav {
    &> li > a {
      line-height: 50px;
      color: $blue;
      text-shadow: none;
      &:hover {
        color: darken($blue, 20%);
      }
      b {
        margin-top: 23px;
      }
    }
  }
}

