body {
  margin: 0px;
}

#editor, #wording {
  display: inline-block;
}

#editor {
  position: relative;
  height: 800px;
  width: 60%;
}

#wording {
  position: relative;
  height: 800px;
  width: 40%;
  textarea {
    height: 100%;
    width: 100%;
    font-size: 150%;
    padding: 0px;
  }
}
