<div class="row">
  <div class="span5">
    <%= image_tag "site/guestlist.png" %>
  </div>
  <div class="span2">
    &#8594;
  </div>
  <div class="span5">
    <%= image_tag "site/guestlist.png" %>
  </div>
</div>
<div class="row">
  <div class="span2 offset10">
    <div class="dots">
      &#9829; &#9829; &#9829;
    </div>
  </div>
</div>
<div class="row">
  <div class="span12 blurb">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a massa ligula, id tristique massa. Vivamus sollicitudin posuere ante et imperdiet. Duis molestie neque sagittis tellus egestas elementum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a massa ligula, id tristique massa. Vivamus sollicitudin posuere ante et imperdiet. Duis molestie neque sagittis tellus egestas elementum.</p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Lorem ipsum dolor sit amet</li>
    </ul>
  </div>
</div>
