<header class="row">
  <div class="span12">
    <h2>Invite</h2>
  </div>
</header>
<div class="row">
  <div class="span8 offset2">
<p>Once your wedding details are confirmed, you can send out your invites
directly from WedVite, saving you time sourcing mailing addresses and
money on expensive printing and postage costs.</p>

<p>Your guests can instantly RSVP from your online invite at the touch of a
button, which automatically updates your guestlist with who accepted
with pleasure and who declined with regret.</p>

<p>So your parents or grandparents don’t have email or use the internet? No
problem, you can print out a special invitation from WedVite to take
pride of place in their home. And for those traditionalists who like to
feel and smell the real thing, they too can print a copy of your
invitation to stick on their fridge.</p>

<p>As guests accept or decline, they are able to post you a personalised
message. From here, attending guests can also specify any special
requirements such as vegetarian/gluten-free diets, childrens meals, high
chairs or wheelchairs.</p>
  </div>
</div>
<%= render partial: 'previews', locals: { previews: invite_previews } %>
<div class="row">
  <div class="span8 offset2">
<p>Confirmed guests can automatically add your wedding date to their email
or smartphone calendar and will receive all the details for your special
day through WedVite’s added feature - ‘Our Day’. On a dedicated WedVite
page, you can provide guests with as much information as you wish,
including directions to your wedding, where to stay, the next day, local
activities, transport, gift registry, meet the bridal party and much
more.</p>
  </div>
</div>
