<header class="row">
  <div class="span12">
    <h2>Organise</h2>
  </div>
</header>
<%= render partial: 'previews', locals: { previews: organise_previews } %>

<div class="row">
  <div class="span4 offset4">
    <p>Sign up for free and create your wedding list. Simply add guests
to the list and then collaborate together where you can approve, make
tentative (B list) or reject guests (make sure ‘that guy’ doesn’t get on
the final invite list).</p>

    <p>You can also easily keep track of guest numbers (adults and children)
from both the Bride and Groom’s sides.</p>
  </div>
</div>
