<header class="row">
  <div class="span12">
    <h2>Pricing</h2>
  </div>
</header>
<div class="row">
  <div class="span8 offset2">
<p>If you choose to use WedVite to send your wedding invitations to your
guests, there is a one off payment that ranges from 
<%= number_to_currency @lowest_possible_payment %> to
<%= number_to_currency @higest_possible_payment %> depending on the
stationery design you select.</p>
  </div>
</div>
