<header class="row">
  <div class="span12">
    <h2>Pricing</h2>
  </div>
</header>
<div class="row">
  <div class="span8 offset2">
<p>Use WedVite for free until you decide to send invitations out to your
guests. For a small, one-off cost of $49.95 you can continue to update
your guestlist, send invitations and communicate with guests using the
‘Our Day’ feature right up until your wedding day. </p>
  </div>
</div>
