<header class="row">
  <div class="span12">
    <h2>Pricing</h2>
  </div>
</header>
<div class="row">
  <div class="span4 offset4">
    <h3>$49.95</h3>
    <p>Use Wedvite for free until you actually decide to send out the
invitations. Once you have paid you can continue to send out round after
round of invitations forever.</p>
  </div>
</div>
