<header class="row">
  <div class="span12">
    <h2>Share</h2>
  </div>
</header>
<div class="row">
  <div class="span4 offset4">
    <p>You can choose to share the guest list with your family, bridal
party or wedding planner. And there’s no need to worry about your list
being altered, you can allocate your collaborators with viewing
permissions such as view, comment or edit.</p>
  </div>
</div>
