<header class="row">
  <div class="span12">
    <h2>Stationery</h2>
  </div>
</header>
<%= render partial: 'previews', locals: { previews: stationery_previews } %>

<div class="row">
  <div class="span8 offset2">
    <p>Choose from a selection of beautiful wedding invitation designs
and in your own words, create your invite to give guests a glimpse into
the style and theme of your special day. You can preview each individual
invitation to check spelling and grammar before you press send.</p>
  </div>
</div>
