<header class="row">
  <div class="span12">
    <h2>Thank</h2>
  </div>
</header>
<div class="row">
  <div class="span4 offset4">
    <p>After your big day you may like to send your guests a thank you.
Wedvite lets you create another dedicated page just for this, put in
pictures, links to photo albums or anything else your heart desires.</p>
  </div>
</div>
