<div class="page-header">
  <h1>WedVite</h1>
</div>
<div class="call-to-action">
  <ul>
    <li><%= link_to 'Sign up', new_user_registration_url(subdomain: 'plan'), class: 'cupid green sign-up' %></li>
    <li><%= link_to 'Sign in', new_user_session_url(subdomain: 'plan'), class: 'cupid blue sign-in' %></li>
  </ul>
</div>
<div class="row box">
  <div class="span16">
    <article>
      <section>
        <h2>Welcome to Wed Vite and congratulations on your engagement!</h2>
        <p>Planning your wedding will be very exciting time in your lives, yet a real test of your organisational skills!</p>
        <p>Wed Vite can help you easily organise and share your guest list, design and personalise your wedding invitation, invite your guests and manage RSVPs - all online. You can also share information with your guests such as location, where to stay, next day, activities and gift registry.</p>
      </section>
      <section>
        <h2>Organise & Collaborate</h2>
        <p>Sign up and create your wedding list. Simply add guests to the list and then collaborate together where you can approve, make tentative (B list) or reject guests (make sure ‘that guy’ doesn’t get on the final invite list). You can also easily keep track of guest numbers (adults and children) from both the Bride and Groom’s sides.</p>
      </section>
      <section>
        <h2>Share</h2>
        <p>You can choose to share the guest list with your family, bridal party or wedding planner. You can allocate viewing permissions which include view only, comment or edit.</p>
      </section>
      <section>
        <h2>Stationary Shop</h2>
        <p>Choose from a selection of invitation designs and use your own wording to create your invite, setting the tone and theme of your special day. You can preview each invitation to check spelling and grammar before you send out your invitations.</p>
      </section>
      <section>
        <h2>Invite</h2>
        <p>When your wedding plans are confirmed you can send out your invites directly from Wed Vite, eliminating the need for spending money on printing and postage. Your guests can RSVP instantly from your invite at the touch of a button, automatically updating your guest list with who is coming and who can’t make it.</p>
        <p>Guests can also add your wedding date to their email or phone calendar and specify in their reply if they have any special requirements, such as vegetarian/gluten-free diets, children’s meals, highchairs or wheelchairs.</p>
        <p>All confirmed guests will have access to Wed Vite’s added features including directions to the wedding, where to stay, activities in the area, the next day and gift registry details.</p>
      </section>
    </article>
  </div>
</div>
