<div class="page-header">
  <h1>WedVite</h1>
</div>
<div class="start">
  <%= link_to 'Start now', root_url(subdomain: 'plan'), class: 'cupid-green' %>
</div>
<div class="row box">
  <div class="span16">
    <article>
      <section>
        <h2>Organise</h2>
        <p>Add all anyone you think should be on the list then organise them easily into yes, nos and maybes until your list is just right.</p>
      </section>
      <section>
        <h2>Share and collaborate</h2>
        <p>Collaborate on the list with the Groom (or the Bride) and share with close friends and family or wedding organiser.</p>
      </section>
      <section>
        <h2>Invite</h2>
        <p>When you plans are firmly in place you can send out your invites directly from WedVite, no need for unnesisary printing and posting that will end up going in the rubbish.</p>
        <p>You will get instant feedback on who is coming and who is not, guests will be able to RSVP directly from you invitation.</p>
        <p>Guests will also get extra features that a traditional invitation does not offer, guests can instantly add your wedding to their calendar and get detailed instructions and directions at anytime.</p>
        <p>Choose from a selection of invitation designs that suit your wedding. Preview each invitation at your leisure before you send out your invitations.</p>
      </section>
    </article>
  </div>
</div>
