// CSS Reset
@import "twitter/bootstrap/reset";

// Core variables and mixins
@import "twitter/bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "twitter/bootstrap/mixins";

// Grid system and page structure
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/layouts";
@import "twitter/bootstrap/responsive";

// Components
@import "twitter/bootstrap/navs";

// Base CSS
@import "twitter/bootstrap/type";

@baby_blue: rgb(234, 243, 248);
@blue: rgb(43, 97, 126);
@copper: rgb(162, 154, 151);
@white: rgb(249, 253, 255);
.white (@alpha: 80) {
  background-color: rgb(249, 253, 255);
  background-color: rgba(249, 253, 255, @alpha / 100);
}

body {
  background-color: white;
  color: @blue;
  padding: 25px 0px;
}

.container {
  background-color: @baby_blue;
}

.shadow-wrap {
  .box-shadow(10px 10px 20px -5px gray);
  // filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  // -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  // zoom: 1;
}

.birdies {
  background-image: image-url('birds.png');
  height: 88px;
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  .white();
  border-top: 3px @copper solid;
  border-bottom: 3px @copper solid;
  &.overlay {
    width: 100%;
    position: absolute;
    left: 0px;
  }
}

h1, h2 {
  text-align: center;
  background-color: @white;
}

ul.login-signup {
  list-style: none;
  padding: 0px;
  margin: 40px 0px;
  li {
    border-top: 4px @white solid;
    border-bottom: 4px @white solid;
    margin: 40px 0px;
  }
}

.slide-deck {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 610px;
  .slide {
    position: absolute;
    min-height: 610px;
    width: 100%;
  }
}

.paddle {
  width: 62px;
  height: 62px;
  background-image: url('/assets/site/paddles.png');
  background-repeat: no-repeat;
  position: absolute;
  z-index: 221;
  top: 190px;
  cursor: pointer;
  &.left {
    left: 0px;
    background-position: -7px -75px;
  }
  &.right {
    right: 0px;
    background-position: -3px -5px;
  }
}

@media 
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .birdies {
    background-image: image-url('birds2x.png');
    background-size: 166px 87px;
  }
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {
}

// Landscape phones and down
@media (max-width: 480px) {
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
}

// Large desktop
@media (min-width: 1200px) {
}
