@import "twitter/bootstrap";

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

@font-face {
  font-family: 'EdwardianScriptITCRegular';
  src: url("/assets/itcedscr-webfont.eot");
  src: local("☺"), url("/assets/itcedscr-webfont.woff") format("woff"), url("/assets/itcedscr-webfont.ttf") format("truetype"), url("/assets/itcedscr-webfont.svg#webfont5FK5mWTJ") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 30px;
  background-image: image-url("bg-parchment.png");
}

.page-header {
  text-align: center;
  h1 {
    font-family: 'EdwardianScriptITCRegular', sans-serif;
    font-size: 20em;
    line-height: 1em;
    margin: 30px 0px;
    font-weight: normal;
  }
}

.row {
  article {
    section {
      padding: 10px;
    }
    section + section {
      border-top: 1px solid #E2E2E2;
    }
  }  
}

.call-to-action {
  height: 90px;
  ul {
    width: 565px;
    margin: 0 auto;
    list-style: none;
    li {
      float: left;
    }
  }
}

a.cupid {
  display: block;
  float: left;
  margin: 10px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 3em;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  width: 260px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-background-clip: padding-box; }
  &:active {
    -webkit-background-clip: padding-box; }
  &.green {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
    -o-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    text-shadow: 0 -1px 0 #4c9021;
    &:hover {
      background-color: #76b347;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
      background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
      background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
      background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
      background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
      background-image: linear-gradient(top, #76b347, #5e9e2e);
      -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
      -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
      -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
      -o-box-shadow: inset 0 1px 0 0 #8dbf67;
      box-shadow: inset 0 1px 0 0 #8dbf67; }
    &:active {
      border: 1px solid #5b992b;
      border-bottom: 1px solid #538c27;
      -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
      -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
      -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
      -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
      box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; } }
  &.blue {
    background-color: #52a8e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
    background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
    background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
    background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
    background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
    background-image: linear-gradient(top, #52a8e8, #377ad0);
    border-top: 1px solid #4081af;
    border-right: 1px solid #2e69a3;
    border-bottom: 1px solid #20559a;
    border-left: 1px solid #2e69a3;
    -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
    -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
    -ms-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
    -o-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
    box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
    text-shadow: 0 -1px 1px #3275bc;
    &:hover {
      background-color: #3e9ee5;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
      background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
      background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
      background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
      background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
      background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
      border-top: 1px solid #2a73a6;
      border-right: 1px solid #165899;
      border-bottom: 1px solid #07428f;
      border-left: 1px solid #165899;
      -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
      -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
      -ms-box-shadow: inset 0 1px 0 0 #62b1e9;
      -o-box-shadow: inset 0 1px 0 0 #62b1e9;
      box-shadow: inset 0 1px 0 0 #62b1e9;
      text-shadow: 0 -1px 1px #1d62ab;
      -webkit-background-clip: padding-box; }
    &:active {
      background: #3282d3;
      border: 1px solid #154c8c;
      border-bottom: 1px solid #0e408e;
      -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
      -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
      -ms-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
      -o-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
      box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 white;
      text-shadow: 0 -1px 1px #2361a4;
      -webkit-background-clip: padding-box; } } }
