// CSS Reset
@import "twitter/bootstrap/reset";

// Core variables and mixins
@import "twitter/bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "twitter/bootstrap/mixins";

// Grid system and page structure
@import "twitter/bootstrap/scaffolding";
@import "twitter/bootstrap/grid";
@import "twitter/bootstrap/layouts";
@import "twitter/bootstrap/responsive";

// Components
@import "twitter/bootstrap/navs";

// Base CSS
@import "twitter/bootstrap/type";

// App global stylesheets
@import "colors";
@import "fonts";
@import "navs";

// Site stylesheets
@import "site/buttons";

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

body {
  padding-top: 30px;
  background-image: image-url("bg-cloth.png");
  color: @kalamata_olive;
}

.page-header {
  text-align: center;
  border: 0px none;
  h1 {
    font-family: 'EdwardianScriptITCRegular', sans-serif;
    font-size: 9em;
    line-height: 1em;
    font-weight: normal;
    text-shadow: #999 2px 2px 9px;
    text-indent: -40px;
  }
}

.call-to-action {
  ul {
    margin: 0 auto;
    list-style: none;
    li {
      float: left;
    }
  }
}

.nav {
  &.nav-pills {
    width: 330px;
    margin: 0 auto;
  }
}

img {
  border: 1px solid @gray;
  max-width: 99%;
}

article {
  margin: 20px 0px;
  &.slide-deck {
    width: 100%;
  }
}

.slide-deck,
.slide {
  height: 800px;
}

div {
  &.slide-deck {
    width: 100%;
  }
}

.slide-deck {
  .slide {
    min-height: 610px;
    width: 100%;
  }
}

.blurb {
  .rounded-corners();
  padding: 10px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.3);
}

// Landscape phone to portrait tablet
@media (max-width: 767px) {
  .call-to-action {
    ul {
      width: 460px;
      height: 70px;
    }
  }
}

// Landscape phones and down
@media (max-width: 480px) {
  .page-header {
    h1 {
      font-size: 5em;
      line-height: 0.5em;
      text-indent: -25px;
    }
  }
  .call-to-action {
    ul {
      width: 280px;
      height: 55px;
    }
  }
  a.cupid {
    width: 128px;
    font-size: 1em;
    margin: 10px 5px 20px 5px;
  }
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
  .page-header {
    h1 {
      font-size: 7em;
      line-height: 0.5em;
      text-indent: -25px;
      margin-top: 50px;
    }
  }
  a.cupid {
    font-size: 1.5em;
    margin: 10px 5px 20px 5px;
    width: 164px;
  }
}

// Large desktop
@media (min-width: 1200px) {
  .page-header {
    h1 {
      font-size: 11em;
    }
  }
  a.cupid {
    font-size: 2em;
    margin: 10px 5px 20px 5px;
    width: 260px;
  }
}
