@import "bootstrap";

// App global stylesheets
@import "global";
@import "navs";
@import "fonts";

// Users stylesheets

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-left-radius($radius: 5px) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
}

@mixin border-bottom-left-radius($radius: 5px) {
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
}

@mixin border-top-right-radius($radius: 5px) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius($radius: 5px) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

body {
  padding-bottom: 30px;
}

.guest-container {
  border-bottom: 1px dashed #999;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.guest .details h3,
.collaborator .details h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide-deck,
.guest,
.placeholder,
.collaborator {
  background-color: rgb(255, 255, 255);
}

.form-actions {
  background-color: transparent;
}

.form-horizontal .form-actions {
  padding-top: 35px;
}

.background {
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.column {
  width: 386px;
  display: inline-block;
  vertical-align: top;
}

section {
  &.dashboard {
    .placeholder {
      padding: 10px;
      @include border-radius();
    }
  }
  &.placeholder {
    padding: 10px;
    @include border-radius();
  }
  &.payment {
    form {
      margin: 0px;
    }
  }
  &.details {
    input {
      &.search {
        width: 670px;
        margin-bottom: 30px;
      }
    }
    .location-map {
      width: 680px;
      height: 400px;
    }
  }
  &.invitations {
    .paddle {
      top: 255px;
      &.left {
        left: 0px;
      }
      &.right {
        right: 0px;
      }
    }
    .stationeries {
      height: 600px;
      overflow: hidden;
      .stationery {
        padding: 0px 85px;
        .wrapper {
          position: relative;
          //background-color: @kalamata_olive;
          height: 450px;
          overflow: hidden;
          text-align: center;
          margin: 10px 0px 0px 0px;
          img {
            width: 515px;
            height: auto;
          }
        }
        .actions {
          margin: 20px 0px;
        }
      }
    }
  }
  &.guestlist {
    .guests {
      .header {
        h2 {
          padding: 10px;
          width: 288px;
        }
      }
      .block {
        margin: 5px 0px;
      }
      .guest {
        @include border-radius();
        position: relative;
        padding: 9px 12px 9px;
        .state, .details {
          display: inline-block;
        }

        .details span {
          @include opacity(60);
        }
        .actions {
          visibility: hidden;
        }
        &:hover, &.active {
          .details span {
            @include opacity(100);
          }
          .actions {
            visibility: visible;
          }
        }

        .details {
          width: 330px;
          span {
            color: gray;
            margin-right: 25px;
          }
        }
        .actions {
          a {
            margin-right: 10px;
          }
        }
        &.ui-sortable-helper {
          background-image: image-url("bg-parchment.png");
          border: 1px dashed gray;
          @include border-radius();
        }    
      }      
      .guest-placeholder {
        height: 45px;
        padding: 9px 0px;
        width: 100%;
      }
    }
  }
}

section {
  &.guest {
    &.show {
      .state {
        form {
          display: inline;
        }
      } 
    }
  }
  &.collaborate {
    .collaborators {
      .collaborator {
        padding: 10px;
        @include border-radius();
        span {
          color: gray;
        }
        .actions {
          a {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &.sessions {
    .actions {
      background-color: white;
    }
  }
  &.wedding {
    &.planner {
      h2 {
        margin: 15px 0px 0px 0px;
      }
      h3 {
        margin: 10px 0px 0px 0px;
      }
      .btn {
        margin-bottom: 20px;
      }
    }
  }
}

.guest {
  .icon {
    &.state {
      margin: 12px 10px 12px 0px;
    }
  }
}

.icon {
  &.state {
    background-color: pink;
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    @include border-radius(12px);
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: $white;
    &.approved {
      background-color: $approved;
      font-weight: 300;
      line-height: 14px;
    }
    &.rejected {
      background-color: $rejected;
      font-size: 20px;
      line-height: 12px;
      font-weight: 600;
    }
    &.accepted {
      background-color: $accepted;
    }
    &.declined {
      background-color: $declined;
    }
    &.accepted, &.declined {
      line-height: 11px;
      font-weight: 500;
    }
    &.sent {
      background-color: $sent;
      font-weight: 100;
      font-size: 16px;
      line-height: 10px;
    }
    &.tentative {
      background-color: $tentative;
      font-size: 20px;
      line-height: 10px;
    }
    &.review {
      background-color: $review;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200;
      line-height: 12px;
    }
  }
}

form {
  textarea {
    font-size: 15px;
    line-height: 20px;
    &.markdown {
      width: 670px;
      height: 500px;
    }
    &.markdown-small {
      height: 200px;
    }
  }
}

.quickie {
  position: relative;
  width: 100%;
  height: 100px;
  .btn-large {
    width: 100px;
  }
  .wrapper {
    position: fixed;
    width: 130px;
    padding: 20px 5px;
    background-color: $baby_blue;
    //.magnolia_grandflora(40);
  }
  .quickie-nav {
    color: white;
    margin: 5px 0px;
    padding: 12px 10px 7px 10px;
    text-align: center;
    //border-top: 1px dotted @sugared_pansy_pink;
    line-height: 23px;
    a {
      display: inline;
      color: white;
      font-weight: bold;
      text-align: center;
    }
    i {
      cursor: pointer;
    }
  }
}

.btn {
  &.btn-pay-now {
    width: 100%;
    font-size: 3em;
    height: 80px;
    font-weight: bold;
  }
}

.modal-footer {
  //background-color: @magnolia_grandflora;
  //border-top: 1px solid @sugared_pansy_pink;
}

.modal-body {
  max-height: 600px;
  .comments {
    overflow: scroll;
    max-height: 300px;
  }
  .new_comment {
    textarea {
      width: 520px;
      height: 50px;
    }
  }
}

.bqstart {
     float: left;
     height: 45px;
     margin-top: -20px;
     padding-top: 45px;
     margin-bottom: -50px;
     font-size: 700%;
     //color: @cornucopia;
 }


 .bqend {
     float: right;
     height: 25px;
     margin-top: 0px;
     padding-top: 45px;
     font-size: 700%;
     //color: @cornucopia;
 }

.btn {
  .icon {
    &.state {
      margin: 0px 10px 0px 0px;
    }
  }
}

.guest-state-form {
  button {
    width: 165px;
    text-align: left;
    line-height: 25px;
  }
}

.slide-deck {
  @include border-radius(10px);
  min-height: 610px;
  .slide {
    margin: 10px;
    width: 680px;
  }
}

.alert {
  position: fixed;
  bottom: 20px;
  z-index: 300;
  right: 40px;
  width: 200px;
}
