// Core variables and mixins
@import "bootstrap";

// WedVite colors
@import "colors";

// WedVite global elements, images etc.
@import "global";

// WedVite global fonts.
@import "fonts";

@import "medium-editor";

@media screen and (max-width: 480px) {
  .medium-editor-toolbar {
    position: fixed;
    bottom: 0px !important;
    top: initial !important;
  }
}

.markdown {
  display: none;
}

.location-map {
  width: 100%;
  height: 400px;
}

.wd-stationery-thumb {
  width: 100%;
}
