@import "twitter/bootstrap";

@font-face {
  font-family: 'EdwardianScriptITCRegular';
  src: url("/assets/itcedscr-webfont.eot");
  src: local("☺"), url("/assets/itcedscr-webfont.woff") format("woff"), url("/assets/itcedscr-webfont.ttf") format("truetype"), url("/assets/itcedscr-webfont.svg#webfont5FK5mWTJ") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: image-url("bg-parchment.png");
}

.guest-container {
  border-bottom: 1px dashed #999;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.background {
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

section {
  &.guest {
    &.show {
      .state {
        form {
          display: inline;
        }
      } 
    }
  }
  &.collaborators {
    &.index {
      .row {
        margin-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 7px;
      }
      .row + .row {
        padding-top: 17px;
        border-top: 1px solid #DDD;
      }
      .actions {
        margin-top: 0px;
      }
    }
  }
  &.sessions {
    .actions {
      background-color: white;
    }
  }
  &.wedding {
    &.show {
      .nav {
        padding: 10px;
        color: white;
        background-color: black;
        .border-radius;
        a {
          color: white;
          &:hover {
            color: black;
          }
        }
      }
      .guests {
        .header {
          h2 {
            padding: 10px;
            width: 288px;
          }
        }
        .column {
          width: 308px;
          display: inline-block;
          vertical-align: top;
        }
        .block {
          margin: 5px 0px;
        }
        .guest {
          position: relative;
          padding: 9px 12px 9px;
          .state, .details {
            display: inline-block;
          }
          .details {
            width: 230px;
            span {
              color: gray;
            }
          }
          .actions {
            display: none;
            cursor: move;
            position: absolute;
            top: 20px;
            right: 15px;
            i {
              display: block;
            }
          }
          &:hover {
            .actions {
              display: block;
            }
            .details {
              span {
                color: black;
              }
            }
          }
          &.ui-sortable-helper {
            background-image: image-url("bg-parchment.png");
            border: 1px dashed gray;
            .border-radius;
          }    
        }      
        .guest-placeholder {
          height: 45px;
          padding: 9px 0px;
          width: 100%;
        }
      }
    }
  }
}

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.border-top-left-radius(@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
     -moz-border-top-left-radius: @radius;
          border-top-left-radius: @radius;
}

.border-bottom-left-radius(@radius: 5px) {
  -webkit-border-bottom-left-radius: @radius;
     -moz-border-bottom-left-radius: @radius;
          border-bottom-left-radius: @radius;
}

.border-top-right-radius(@radius: 5px) {
  -webkit-border-top-right-radius: @radius;
     -moz-border-top-right-radius: @radius;
          border-top-right-radius: @radius;
}

.border-bottom-right-radius(@radius: 5px) {
  -webkit-border-bottom-right-radius: @radius;
     -moz-border-bottom-right-radius: @radius;
          border-bottom-right-radius: @radius;
}

.icon {
  &.state {
    background-color: pink;
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    margin: 12px 10px 12px 0px;
    .border-radius(12px);
    text-align: center;
    padding: 5px;
    font-weight: bold;
    line-height: 0.9em;
    color: white;
    &.green {
      background-color: #57A957;
    }
    &.red {
      background-color: #C43C35;
    }
    &.aqua {
      background-color: #339BB9;
    }
    &.silver {
      background-color: silver;
    }
    &.gold {
      background-color: gold;
    }
    &.black {
      background-color: black;
    }
  }
}

form {
  textarea {
    &.markdown {
      width: 100%;
      height: 500px;
    }
  }
}

// span-
.no-margin {
  margin-left: 0px;
}

.quickie {
  position: relative;
  ul {
    position: fixed;
    list-style: none;
    margin: 5px 0px;
    padding: 5px;
    background-color: black;
    .border-radius;
    li {
      background-color: gray;
      color: white;
      margin: 5px 0px;
      .border-radius;
      //.border-top-right-radius;
      //.border-bottom-right-radius;
      padding: 10px;
      text-align: center;
      a {
        display: inline;
        color: white;
        font-weight: bold;
        text-align: center;
      }
      i {
        cursor: pointer;
      }
      &.green {
        background-color: #57A957;
      }
      &.red {
        background-color: #C43C35;
      }
      &.aqua {
        background-color: #339BB9;
      }
      &.silver {
        background-color: silver;
      }
      &.gold {
        background-color: gold;
      }
      &.black {
        background-color: black;
      }
    }
  }
}

.navbar {
  height: 72px;
  .brand {
    font-family: 'EdwardianScriptITCRegular', sans-serif;
    font-size: 4em;
    width: 170px;
    height: 52px;
    overflow: hidden;
    margin: 0px;
  }
  .nav {
    .menu-dropdown, .dropdown-menu {
      top: 72px;
    }
    &> li > a {
      line-height: 50px;
      b {
        margin-top: 23px;
      }
    }
  }
}
