// Core variables and mixins
@import "bootstrap";

// WedVite colors
@import "colors";

// WedVite global elements, images etc.
@import "global";

// WedVite global fonts.
@import "fonts";

@import "medium-editor";

.markdown {
  display: none;
}

.location-map {
  width: 100%;
  height: 400px;
}
