.column {
  display: block;
  float: left;
}

.btn {
  border: 1px solid #AEAEAE;
}

section {
  &.sessions {
    .content {
      .facebook {
        background-image: url(/assets/users/facebook.png);
      }
    }
  }
}
