.column {
  display: block;
  float: left;
}

.nav-wedvite,
.quickie .wrapper {
  background: transparent;
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#45FFEAF2,endColorstr=#45FFEAF2)";
  zoom: 1;
}

.slide-deck,
.guest,
.placeholder,
.collaborator {
  background: transparent;
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#35FFFFFF,endColorstr=#35FFFFFF)";
  zoom: 1;
}

.btn {
  border: 1px solid #AEAEAE;
}
