<section class="confirm-send placeholder">
  <% unless @guests.empty? %>
    <h2>List of approved guests that will be emailed</h2>
    <p>The following list of approved guests will be sent an email with a private link to your wedding invitation.</p>
    <table class="table">
      <tbody>
        <% @guests.each do |guest| %>
          <tr>
            <td><%= guest.name %></td>
            <td><%= guest.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to wedding_deliver_path(@wedding), class: 'btn btn-danger btn-large', style: 'width: 190px;', confirm: "Are you sure? this cannot be undone." do %>
      Send!
    <% end %>
  <% else %>
    <h2>You have no approved guests to send invitations to</h2>
    <p>To send guests an invitation they need to be approved, approved guests have a symbol like this:</p>
    <p><%= state_icon 'approved' %> &nbsp;</p>
  <% end %>
</section>
