<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background-color:white;table-layout:fixed;overflow:hidden"> 
  <tbody>
    <tr valign="top"> 
      <td><span style="color:#555;font-size:14px;line-height:18px"><%= @reply.text %></span> </td> 
    </tr> 
    <tr valign="top"> 
      <td height="60" style="background-color:white"></td> 
    </tr> 
    <tr valign="top"> 
      <td><span style="color:#555;font-size:14px;line-height:18px"><%= link_to 'Reply to this message', '-invitation_url-' %></span></td>
    </tr> 
  </tbody>
</table> 
