<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background-color:white;table-layout:fixed;overflow:hidden"> 
  <tbody>
    <tr> 
      <td><span style="font-size:16px;line-height:20px;font-weight:bold;color:#333">Dear <%= @guest.name %>,</span></td> 
    </tr> 
    <tr valign="top"> 
      <td height="20" style="background-color:white"></td> 
    </tr> 
    <tr valign="top"> 
      <td height="10" style="background-color:white"></td> 
    </tr> 
    <tr valign="top"> 
      <td><span style="color:#555;font-size:14px;line-height:18px">Please find below a link to our wedding details:</span> </td> 
    </tr> 
    <tr valign="top"> 
      <td height="20" style="background-color:white"></td> 
    </tr> 
    <tr valign="top"> 
      <td><span style="color:#555;font-size:14px;line-height:18px"><%= link_to @url, @url %></span></td>
    </tr> 
    <tr valign="top"> 
      <td height="10" style="background-color:white"></td> 
    </tr> 
    <tr valign="top">
      <td><span style="color:#555;font-size:10px;line-height:18px;font-style:italic;">This a private link to our thank you, please do not share this email with anyone.</span></td>
    </tr> 
    <tr valign="top"> 
      <td height="20" style="background-color:white"></td> 
    </tr> 
    <tr valign="top"> 
      <td><span style="color:#555;font-size:14px;line-height:18px"><%= @wedding.partner_one_name %> and <%= @wedding.partner_two_name %></span></td>
    </tr> 
  </tbody>
</table> 
<table cellpadding="0" cellspacing="0" border="0" width="670" style="background-color:white"> 
  <tbody>
    <tr> 
      <td> </td> 
    </tr> 
  </tbody>
</table> 
