<p>You have been invited to collaborate on <%= @wedding.name %> by <%= @requestor.name %><p>
<p>To accept this invitation follow the link below to sign up to WedVite, or sign in if you already have an account</p>

<ul>
  <li><a href="<%= @url %>"><%= @url %></a></li>
</ul>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and sign up.</p>
