<p>You have been added as a collaborator on <%= @wedding.name %> by <%= @requestor.name %><p>
<p>To begin collaboration just follow the link below</p>

<ul>
  <li><a href="<%= @url %>"><%= @url %></a></li>
</ul>
